# History files
.Rhistory
.Rapp.history
*.RData

# Example code in package build process
*-Ex.R

# RStudio files
.Rproj.user/
*.Rproj

# produced vignettes
vignettes/*.html
vignettes/*.pdf

.Rproj.user
*.rda

# html output from knitR
R/*.html
R/*.pdf
R/*.knit.md
R/*.utf8.md
R/*_cache/*
R/Figs/*

# R lib files
R/libs/*

# Excel files
*.xls
*.xlsx

# ipython notebook checkpoints
Python/.ipynb_checkpoints/*

# Byte-compiled python
*.pyc

# Images
*.png
*.svg

#Stupid Mac files
*.DS_Store

# Results folders
Results/*
MatrixEQTL/*
MatrixEQTL_old/*
Genotyping/*
Figures/*
Peer/*
FastQTL/*
SMR/*
LDSR/annotation/*
LDSR/env/*
LDSR/eqtls
LDSR/gwas
LDSR/Logs
LDSR/Reference
LDSR/results*
GTCheck/*
GTEx_queries
PGC3_SZ
PGRS
Garfield/*
Misc/*
R/results.Rmd
R/ExtraBits.Rmd
R/17q23.Rmd
R/CLOZUKsumstats.Rmd
R/CorrelatedExpression.Rmd
R/eQTL_vs_mQTL.Rmd
R/GTex.Rmd
R/SMR.Rmd
Manuscript/*

# Input data
Data/*
Genotypes/*
GTEx_Analysis_v7_eQTL
CLOZUK_GWAS_NatGen/*
GWAS/*
GWAS_raw/*

# Count data
Counts/*

# Shinyapp.io info
Shiny/GENEX-FB2/Data
Shiny/GENEX-FB2/DataCopy
Shiny/GENEX-FB2/rsconnect

# snakemake output
dag.svg

# downloaded code
R/plot_SMR.r

smr.yaml
