# History files
.Rhistory
.Rapp.history
*.RData

# Example code in package build process
*-Ex.R

# RStudio files
.Rproj.user/
*.Rproj

# produced vignettes
vignettes/*.html
vignettes/*.pdf

.Rproj.user
*.rda

# html output from knitR
R/*.html
R/*.pdf
R/*.knit.md
R/*.utf8.md

# R lib files
R/libs/*

# Excel files
*.xls
*.xlsx

# ipython notebook checkpoints
Python/.ipynb_checkpoints/*

# Images
*.png

#Stupid Mac files
*.DS_Store

# Results folders
Results/*
MatrixEQTL/*
MatrixEQTL_old/*
Genotyping/*
Figures/*
Peer/*
FastQTL/*

# Input data
Data/*
Genotypes/*
GTEx_Analysis_v7_eQTL

# Count data
Counts/*

# Shinyapp.io info
Shiny/GENEX-FB2/Data
Shiny/GENEX-FB2/DataCopy
Shiny/GENEX-FB2/rsconnect

# snakemake output
dag.svg

